---
import Layout from "../layouts/Layout.astro";
import projects from "../data/projects.json";
import LogoGithub from "../assets/images/github-logo.svg";
import LogoWeb from "../assets/images/web.svg";
import { Image } from "astro:assets";
---

<Layout title="Oscar Molinar: Proyectos">
  <h1 class="text-2xl font-bold">Proyectos</h1>
  <p class="text-xs md:text-sm leading-relaxed mt-2">
    Para mi sería un placer poder colaborar juntos. Aquí puedes ver mis
    proyectos. Si tienes algún proyecto que quieras compartir, puedes <a
      href="mailto:oscarmolinar96@gmail.com"
      class="underline decoration-dotted underline-offset-4">contactarme</a
    >.
  </p>
  <div class="flex flex-col gap-5 divide-y divide-solid">
    {
      projects.map((project) => (
        <div class="flex flex-col gap-2 pt-7">
          <div class="flex justify-between">
            <h2 class="font-bold">{project.title}</h2>
            <div class="flex gap-2">
              {project.url_repository && (
                <a href={project.url_repository} target="_blank">
                  <Image
                    src={LogoGithub}
                    loading="lazy"
                    alt="Github Logo"
                    class="w-5"
                  />
                </a>
              )}
              {project.url && (
                <a href={project.url} target="_blank">
                  <Image
                    src={LogoWeb}
                    alt="Web Logo"
                    class="w-5"
                    loading="lazy"
                  />
                </a>
              )}
            </div>
          </div>
          <p class="text-xs leading-relaxed">{project.description}</p>
          <small>{project.datePublished}</small>
          <div class="flex flex-wrap gap-2 mt-2">
            {project.tags.map((tag) => (
              <span class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs">
                {tag}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Layout>
