---
import "../assets/styles.css";
import Header from "../components/Header.astro";

const { title, description, canonical, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />

    <!-- Open Graph (para compartir en redes sociales) -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={canonical} />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <div class="mx-auto px-4 lg:max-w-2xl">
      <Header />
      <main class="mt-3">
        <slot />
      </main>
    </div>
  </body>
</html>
